body{
    background-color: #E6BFDA;
}

#goals{
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

#hr{
    width: 1200px;
    /* background-color: black; */
    border: 1px solid black;
}

#button{
    background-color: #E6BFDA;
    justify-content: center;
    margin-left: 150px;
}

@media only screen and (max-width: 768px){
    #goals{
        font-size: 20px;
        text-align: center;
        margin-top: 150px;
    }
    
    #hr{
        width: 200px;
        /* background-color: black; */
        border: 1px solid black;
    }
    
}