 body{
    background-color: #E6BFDA;
 }

 #topnav{
   display: flex;
   gap: 1300px;
 }

 #midtop-nav{
   display: flex;
   gap: 100px;
 }
 
 #note{
   font-size: 150px;
   font-style: normal;
   margin-left: 30px;
 
 }
#together{
  font-size: 120px;
  margin-top: 70px;
}
 #sign{
  text-decoration: none;
  font-size: 23px;
 }

 #display{
  display: flex;
  gap: 200px;
 }

#img{
  margin-top: 170px;
}
#image{
  height: 500px;
  width: 600px;
  margin-bottom: 220px;
}
 #button{
    background-color: #E6BFDA;
    justify-content: center;
    margin-left: 150px;
}
 
#icons{
  margin-left: 100px;
  gap: 150px;
}


 @media only screen and (max-width: 768px){
  
  body{
    background-color: #E6BFDA;
 }
#together{
  font-size: small;
}
 #topnav{
   flex-wrap: wrap;
   gap: 50px;
 }

 #midtop-nav{
  flex-wrap: wrap;
   gap: 50px;
 }
 #display{
  font-size: small;
 }
 #note{
   font-style: small;
   margin-left: 30px;
 
 }

 #sign{
  text-decoration: none;
  font-size: small;
 }

 #display{
  flex-wrap: wrap;
  gap: 50px;
 }

#img{
  margin-top: 70px;
}

 #button{
    background-color: #E6BFDA;
    justify-content: center;
    margin-left: 150px;
}
 
#icons{
  margin-left: 100px;
  gap: 50px;
}
 
 }
 