 body{
    background-color: #E6BFDA;
 }

 #topnav{
   display: flex;
   gap: 1300px;
 }

 #midtop-nav{
   display: flex;
   gap: 100px;
 }
 
 #note{
   font-size: 150px;
   font-style: normal;
   margin-left: 30px;
 
 }

 #sign{
  text-decoration: none;
  font-size: 23px;
 }

 #display{
  display: flex;
  gap: 150px;
 }

#img{
  margin-top: 170px;
}

 #button{
    background-color: #E6BFDA;
    justify-content: center;
    margin-left: 150px;
}
 
#icons{
  margin-left: 100px;
  gap: 150px;
}


 @media only screen and (max-width: 768px){
  #topnav{
    display: wrap;
    gap: 250px;
  }
 
  #midtop-nav{
    display: wrap;
    gap: 70px;
  }
  
  #note{
    font-size: 50px;
    font-style: normal;
    margin-left: 30px;
  
  }
 
  #display{
   display: wrap;
   gap: 25px;
  }
 
 }
 