#container{
    border: solid 1px;
    padding-left: 250px;
    padding-top: 190px;
    margin: 70px;
    line-height: 40px;
    margin-left: 350px;
    border-radius: 5px;
    background-color: #E6BFDA;
    height: 700px;
    width: 750px;
    
}
#image{
   
    padding-left: 10px;
    margin-left: 130px;
}
.input{
    border: double 1px black;
    height: 50px;
    /* border-radius: 6px; */
    width: 500px;
}
.button{
    color:white;
    background-color: #E6BFDA;
    /* border-radius: 7px; */
    width: 150px;
   margin-left: 100px;
   height: 60px;

}
.option{

    padding-left: 50px;
}

#button{
    background-color: #E6BFDA;
    justify-content: center;
    margin-left: 150px;
    height: 50px;
    width: 70px;
}

@media only screen and (max-width: 768px){
    #container{
        padding-left: 15px;
        margin: 0px;
        line-height: 30px;
        border-radius: 5px;
        height: 600px;
        width: 320px;
    }
    .input{
        border: double 1px blue;
        height: 40px;
        border-radius: 6px;
        width: 200px;
    }
    .option{
        margin: 9px;
    }
    #image{
   
        padding-left: 0px;
        margin-left: 0px;
    }
    .button{
    
        border-radius: 7px;
        width: 100px;
       margin-left: 0px;
    }
}