body{
    background-color: #E6BFDA;
}

#info{
    gap: 100px;
    display: flex;
    text-align: center;
    padding-left: 420px;
    height: 80px;
    text-decoration: none;
    background-color: plum;
    font-size: 30px;
}
a{
    text-decoration: none;
    font-size: 20px;
}

#profile{
    font-size: 25px;
}

#display{
display: flex;
gap: 400px;
margin-top: 150px;
margin-left: 300px;
}

#name{
    margin-top: 10px;
}

#mentor{
    margin-left: 700px;
    margin-top: 150px;
}



.buttn{
    background-color: #E6BFDA;
    justify-content: center;
    margin-left: 830px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px;
    color: purple;
    margin-top: 100px;
}


@media screen and (min-width:280px) and (max-width:480px){
    body{
        background-color: #E6BFDA;
        width: 95%;
        height: 50px;

    }
    
    #info{

        gap: 10%;
        width: 100%;
        display: block;
        padding-left: 0px;
        height: 50px;
        font-size:xx-small;
        text-decoration: none;
        background-color: plum
    }
    a{
        text-decoration: none;
        font-size: 20px;
    }
    

    #profile{
        font-size: large;
    }
    
    #display{
    display: block;
    /* gap: 100px; */
    margin-top: 0px;
    margin-left: 0px;
    }
    
    #name{
        margin-top: 10px;
    }
    
    #mentor{
        margin-left: 0px;
        margin-top: 0px;
    }
    
    
    .buttn{
        background-color: #E6BFDA;
        justify-content: center;
        margin-left: 0px;
        width:62px;
        height: 25px;
        border-radius: 5px;
        border: solid 1px;
        color: purple;
        margin-top: 0px;
    }
    
}



@media screen and (min-width:481px) and (max-width:680px){
    body{
        background-color: #E6BFDA;
        width: 95%;
        height: 10px;

    }
    
    #info{

        gap: 10%;
        width: 100%;
        display: block;
        padding-left: 0px;
        height: 0px;
        font-size:xx-small;
        text-decoration: none;
        background-color: plum
    }
    a{
        text-decoration: none;
        font-size: 20px;
    }
    
    #profile{
        font-size: large;
    }
    
    #display{
    display: block;
    /* gap: 100px; */
    margin-top: 0px;
    margin-left: 0px;
    }
    
    #name{
        margin-top: 10px;
    }
    
    #mentor{
        margin-left: 0px;
        margin-top: 0px;
    }
    
    
    .buttn{
        background-color: #E6BFDA;
        justify-content: center;
        margin-left: 0px;
        width:62px;
        height: 25px;
        border-radius: 5px;
        border: solid 1px;
        color: purple;
        margin-top: 0px;
    }
    
}